<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.scss">
    <title>Vue.jsにてtodoリスト作成</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="todo">
        <h1 class="title">vue.jsにてtodoリストを作成してみました。</h1>
        <div id="app">
            <input type="text" v-model="addText" placeholder="Todo入力"><br>
            <button v-on:click="addToDo()">追加</button><br>
            
            <ul v-for="todo in list">
                <li>{{ todo.id }}:{{ todo.text }}
                    <button @click="deleteToDo(todo.id)">削除</button>
                </li>
            </ul>
        </div>
    </div>
<script src="style.js"></script>
</body>
</html>